#SIUF
	{
	position:fixed;
	background:white;
	border: solid;
    padding: 10px;
    text-align: center;
	left: 60%;
	bottom: 3.5%;
	word-spacing:4px;
}
#SEA
	{
	position:fixed;
	background:white;
	border: solid;
    padding: 25px;
    text-align: center;
	left: 40%;
	bottom: 50%;
	word-spacing:4px;
}
